.table {
    border-collapse:collapse;
    border-spacing: 0px;
}

td {
    padding: 0;
    height: 80px;
    width: 80px;
    display: inline-block;
}

svg {
    width: 80px;
    height: 80px;
}

rect {
    width: 80px;
    height: 80px;
    fill: #6D97AB;
}

.circle {
    stroke: #000;
    fill: #ffffff;
}

.circle-top {
    stroke: rgba(0, 0, 0, 0);
    fill: #ffffff;
}

h1 {
    text-align: center;
    font-family: 'Comforter', cursive;
    font-size: 60px;
    margin: 10px 0;
    color: #000;
}

#table {
    display: grid;
    justify-content: center;
    pointer-events: none;
}

input[type="button"] {
    height: 2.5rem;
    width: 34rem;
    margin: 15px 440px 20px 440px;
    font-size: 1.5rem;
    padding: 2px;
    text-align: center;
    background-color: rgba(65, 223, 51, 0.507);
    border-radius: 0.5rem;
    border: 1px solid rgba(40, 41, 40, 0.596);
    font-family: 'Comforter', cursive;
    letter-spacing: 3px;
    font-weight: 600;
}

p {
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
    margin: 20px 10px;
}

.name-game {
    font-weight: 600;
    font-size: 2rem;
    font-family: 'Comforter', cursive;
}

.gamer-yellow {
    fill: #efff0e;
    stroke: #000;
}

.gamer-red {
    fill: #e91111;
    stroke: #000;
}

.red {
    background-color: rgb(255, 0, 0);
}

.yellow {
    background-color: #efff0e;
}

b {
    font-size: 1.5rem;
}

.button:hover {
    box-shadow: 0 0 40px 40px rgba(51, 223, 166, 0.507) inset;
    cursor: pointer;
}

.button:active {
    box-shadow: 0 0 30px 30px rgba(51, 223, 166, 0.507) ; 
}
