@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

body {
    width: 90%;
    color: #3a3534;
    font-family: 'Nunito', sans-serif;
    margin: 0 auto;
}

li {
    list-style: none;
}

a:link {
    color: #3a3534;
}
a:visited {
    color: #388161;
}
a:hover {
    color:#10cc7a;
}

hr {
    border: none;
    background-color: #e6e6e6;
    height: 1px; 
    width:90%;
}

.header-img {
    width: 135px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.header-photo {
    width: 150px;
    height: 200px;
}

.header-name h2 {
    margin-bottom: 5px;
}

.header-name p {
    margin-top: 5px;
    font-weight: 400;
} 

.link-wrapper {
    display: inline-block;
    padding: 0 20px;
}

.header-table {
    height: 150px;
    margin: 30px 0;
    font-size: 1.2rem;
    padding: 0 50px;
    width: 100%;
}

.header-name {
    text-align: left;
}

.contacts {
    text-align: end;
    padding: 0 20px 0 10px;
}

header hr {
    border: none;
    background-color: #423e3d59;
    height: 2px; 
    width:100%;
}

section h3 {
    display: inline-block;
    width: 150px;
    text-align: center;
    color: #388161;
    font-size: 25px;
    font-weight: 700;
}

.section-experience {
    width: 80%;
    padding: 20px 90px;
}

.section-content {
    padding-left: 40px;
    font-size: 17px;
    font-weight: 200;
    letter-spacing: 0.5px;
}

progress {
    margin-right: 20px;
}

footer h3 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 35px;
}

.feedback-form {
    border: 1px solid #3a353463;
    border-radius: .8rem;
    box-shadow: 4px 4px 20px rgba(48, 104, 71, 0.438);
    display: table;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    width:35%;
}

.feedback {
    padding: 15px 10px 0 20px;
}

.feedback input, textarea {
    width: 90%;
    margin: 5px 0 5px 0;
    line-height: 2rem;
    border: 1px solid rgb(233, 233, 233);
    border-radius: .3rem;
    padding: 0 10px 0 10px;
    font-family: 'Nunito', sans-serif;
}

input[type="submit"], [type="reset"] {
    background-color: #3881617e;
    color: #3a3534;
    height: 40px;
    width: 100px;
    margin: 10px 30px 20px 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: large;
    border-radius: 0.5rem;
    border: none;
    text-align: center;
}

input[type="submit"]:hover,[type="reset"]:hover {
    background-color: #10cc7a;
    transform: scale(1.025);
}

input[type="submit"] {
    float: right;
    font-weight: 700;
}
